<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Wallpaper Searcher"
    Version="$(var.Version)"
    Manufacturer="Wallpaper Searcher Team"
    UpgradeCode="12345678-1234-1234-1234-123456789abc"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main" Title="Wallpaper Searcher" Level="1">
      <ComponentRef Id="Binary" />
      <ComponentRef Id="Shortcut" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="AppFolder" Name="WallpaperSearcher">
          <Component Id="Binary" Guid="abcdef01-1234-5678-9abc-def012345678">
            <File Id="WallpaperSearcherExe"
                  Name="wallpapersearcher.exe"
                  Source="$(var.SourceDir)\wallpapersearcher.exe"
                  KeyPath="yes" />
            <Environment Id="PathEnv"
                         Name="PATH"
                         Value="[AppFolder]"
                         Permanent="no"
                         Part="last"
                         Action="set"
                         System="yes" />
          </Component>

          <Component Id="Shortcut" Guid="bcdef012-2345-6789-abcd-ef0123456789">
            <Shortcut Id="StartMenuShortcut"
                      Directory="ProgramMenuFolder"
                      Name="Wallpaper Searcher"
                      Target="[#WallpaperSearcherExe]"
                      WorkingDirectory="AppFolder" />
            <RemoveFolder Id="ProgramMenuDir" Directory="ProgramMenuFolder" On="uninstall" />
            <RegistryValue Root="HKCU"
                           Key="Software\WallpaperSearcher"
                           Name="installed"
                           Type="integer"
                           Value="1"
                           KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" />
    </Directory>
  </Package>
</Wix>
